<% provide(:title, 'About Us') %>
<div class="row">
	<div class="span12 static-pages top-rounded-corners shadow">
		<div class="row">
			<div class="span12">
				<h1>About Disruptage</h1>
			</div>
		</div>
		<div clas="row">
			<div class="span8">
				<p>Disruptage was born when the founder ( <%= link_to User.find(1).name, user_path(User.find(1))%> ) was caught in the classic road block faced by many young professionals: to get an MBA or not to get an MBA? </p>

				<p> Then he realized that he would go six figures in debt, with no guarantee of a job that he could get passionate about; he would be studying business models that, in today's digital world, would be pretty out dated; and it didn't seem right that he should go get an MBA because that's just what is expected.</p>

				<p>
					The real benefit of an MBA is the network and knowledge anyway, so why pay for one when the internet give those benefits away for free? It just needs to be organized. Enter Disruptage.
				</p>

				<p> Disruptage spotlights today's most disruptive companies and opens up discussion similar to the case study method at leading MBA programs, except this discussion is focused on current disruptive companies, and it is free. No indentured servant like debt attached.
				</p>

				<p> Today's entrepreneurs are a different breed than yesterday's. Expectations have changed. Product development has changed. Marketing has changed. Let's talk about what is working <strong>today </strong>. Let's learn from the leaders who are disrupting the old models of the past and share our own success stories of what is working <strong>now</strong>.
			</div>
		</div>
	</div>
</div>
