<% provide(:title, 'Contact') %>
<div class="row">
	<div class="span12 static-pages top-rounded-corners shadow">
		<div class="row">
			<div class="span12">
				<h1>Contact Us</h1>
			</div>
		</div>
		<div clas="row">
			<div class="span8 contact-page">
				<p>
					Have an idea? Suggestion? Legal injunction? Here are some ways to get a hold of us.
				</p>
				<h3>Email</h3>
				<p>
					<a href="mailto:contact@disruptage.com">conatct@disruptage.com</a>
				</p>
				<h3>Twitter</h3>
				<p>
					@disruptage
				</p>
			</div>
		</div>
	</div>
</div>