<div class ="shadow">
	<div class="row">
		<div class="landing_hero hidden-phone">
			<div class="span2 disruptage">
				<h1>disruptage.</h1>
			</div>
			<div class="span4 landing_hero_description">
				<h1>discuss today's most disruptive companies.</h1>
				<div class="landing_signup_button">
					<%= link_to "sign up!", signup_path, :class => "btn btn-large btn-warning" %>
					<h2>always free.</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="span12 landing_hero_info">
			<div class="row">
				<div class="span5">
					<h2>we bring the MBA case study experience online. for free.</h2>
					<h2>develop the network and the mind of an MBA withouth paying a dime. </h2>
				</div>
			</div>
		</div>
	</div>
</div>



