<div class="row">
	<div class="span12 landing_hero rounded-corners shadow">
		<div class="row visible-desktop">
			<div class="span2 disruptage">
				<h1>disruptage.</h1>
			</div>
			<div class="span4 landing_hero_description">
				<h1>discuss today's most disruptive companies.</h1>
				<div class="landing_signup_button">
					<%= link_to "sign up!", signup_path, :class => "btn btn-large btn-warning" %>
					<h2>always free.</h2>
				</div>
			</div>
		</div>
		<div class="row tablet_header visible-tablet">
			<div class="span2 disruptage">
				<h1>disruptage.</h1>
			</div>
			<div class="span5 landing_hero_description">
				<h1>discuss today's most disruptive companies.</h1>
				<div class="landing_signup_button">
					<%= link_to "sign up!", signup_path, :class => "btn btn-large btn-warning" %>
					<h2>always free.</h2>
				</div>
			</div>
		</div>
		<div class="row phone_header visible-phone">
			<div class="span10 offset2 disruptage">
				<h1>disruptage.</h1>
			</div>
		</div>






	</div>
</div>





