<% provide(:title, 'Suggest a Startup') %>
<div class="row">
	<div class="span12">
		<h1>Suggest a Startup</h1>
		<p>Do you know of a great startup that you would like to see featured on Disruptage? Please send an email to tips@disruptage.com with the startup's website and a brief explaination as to why you think the startup should be discussed by the community.</p>
		<p>As a reminder, here are the general attributes used to determine if a startup makes the cut for discussion:</p>
		<ul>
			<li>
				The startup (product/service) must have <strong>excellent</strong> design. Someone who has never heard of the startup should know essentially what their unique value proposistion is within a few minutes of visiting their site.
			</li>
			<li>
				The company must be disruptive in nature. That is, they are trying to change a market or create a new one.
			</li>
			<li>
				Bonus points if you are able to make an introduction to a founder of the company to respond to the questions/comments of the community.
			</li>
		</ul>
	</div>
</div>

