
<%= simple_form_for [@startup, @discussion] do |f| %>

  <%= f.input :title %>
  <%= f.association :topic, as: :radio_buttons%>
  


  

  <div class="actions">
    <br /><%= f.submit %>
  </div>


<% end %>
