<% provide(:title, @discussion.title) %>
<p id="notice"><%= notice %></p>


<%= nested_comments @comments.arrange(:order => :created_at) %>

<p><%= link_to 'Add a Comment', new_startup_discussion_comment_path(@startup, @discussion) %></p>


