<p id="notice"><%= notice %></p>


<h1><%= @discussion.title %></h1>
<h2>Comments</h2>
<p><%= link_to 'Add a Comment', new_discussion_comment_path(@discussion) %></p>
<ul class="comment_list">
  <%= render :partial => 'comments/comment', :collection => @discussion.comments %>
</ul>

