

<div class="row">
	<div class="user-profile rounded-corners shadow span12">
		<div class="row">
			<div class="span12 user-name">
				<h1><%= @user.name %></h1>
			</div>
		</div>
		<div class="row">
			<div class="span12 user-discussions">
					<% @user.discussions.each do |d| %>
				        <%= d.title %>
					<% end %>	
			</div>
		</div>
		<div class="row">
			<div class="span12 user-comments">
					<% @user.comments.each do |c| %>
				        <%= c.text %>
					<% end %>	
			</div>
		</div>
		<%= link_to 'edit profile', edit_user_path(@user)%>

	</div>
</div>
