@import "bootstrap";
@import "bootstrap-responsive";
/* mixins, variables, etc. */

$dark: #003354;
$base: #91BED4;
$light: #D9E8F5;
$lighter: #fff;
$highlight: #F26101;
$lgray: #ccc;


@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background-image:url('light_wool.png');
  background-repeat:repeat;

}
  

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.rounded{
 height: 60px;
 -moz-border-radius:75px;
 -webkit-border-radius: 75px;
 width: 60px;
}

.rounded-corners {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

.shadow {
-moz-box-shadow: 3px 3px 4px #ccc;
-webkit-box-shadow: 3px 3px 4px #ccc;
box-shadow: 3px 3px 4px #ccc;
/* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  color:$dark;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: $base;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  text-transform: lowercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  color:$dark;
  &:hover {
    text-decoration: none;
    color:$dark;
  }	
}

.logo-small {
padding-top: 6px;
padding-right: 4px;
}

.navbar-inner{
    background-image:none;
    background-color:white;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $base;
  color: $dark;
  a {
    color: $gray;
    &:hover { 
      color: $dark;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* startup index */
.startup_index_row{
  margin-bottom:30px;
  background-color:white;
}

.startup_index_row_2{
  margin-bottom:-5px;
}

.startup_index_picture{
  margin-left:0px;
}

.rounded-left-side{
  -moz-border-top-left-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  -khtml-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-bottom-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -khtml-border-bottom-left-radius: 8px;
  border-top-bottom-radius: 8px;
}
.startup_index_logo{
  margin-top:10px;
}

.su_index_descr {
  margin-top: 20px;
  margin-bottom: 20px;
}


/* startup profile */

.startup_profile{
  background-color:white;
}

.su_logo{
  padding-bottom:20px;
}

.startup-discussion{
  margin-bottom:20px;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-color:$lgray; 
   
  h3{
    font-weight:normal;
  }
}
.discussions{
  background-color:white;
}

.discussion-meta{
  margin-left:160px;
}

.topic-icon{
    
  background-color: $lgray;
  height: 50px;
  width:50px;

}

.vote-discussion{
  height:50px;
  width: 50px;
  background-color:#ccc;

}

/* discussion */



/* comments */

.nested_comments {
  margin-left: 30px;
}
