@import "styles";

.landing_hero{
  background-image:url('header-skyline.png');
  background-color:white;
  background-size: 100%;
  background-repeat: no-repeat;
  min-height:360px;
  h1{
  	font-size:2.8em;
  }
}

.landing_hero_description{
  text-align: center;
  width: 45%;
  padding-top: 50px;
  padding-right:200px;
  h1{
  	color:white;
  }

}
.disruptage{
	h1{
		color:white;
		padding-top:90%;
		padding-left:15%;
		text-shadow: 4px 4px 8px gray;
	}
}

.landing_signup_button{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;

	.btn.btn-large.btn-warning{
		padding:15px 30px 15px 30px;
		font-size:18px;
	}
	h2{
		padding-top:12px;
	}
}

.landing_hero_info{
	background-color:white;
	max-width:100%;
	max-height:100%;
	min-height:500px;
}

.phone_header{
	h1{
		padding-top:11%;
		font-size:2.1em;
	}
	.landing_signup_button{
		margin-top:-10px;
	}
	.btn.btn-large.btn-warning{
		padding:10px 25px 10px 25px;
		font-size:15px;
	}
	h2{
		font-size:1.3em;
	}
	.landing_hero_description_mobile h1{
		color:$base;
		text-align:center;
		margin-left:auto;
		margin-right:auto;
	}
}

.tablet_header{
	h1{
		font-size:2.1em;
		letter-spacing: -1px;
		color:white;
	}
	.landing_hero_description{
		padding-top:2%;

	}

	.landing_signup_button{
		margin-top:-10px;
	}
	.btn.btn-large.btn-warning{
		padding:10px 25px 10px 25px;
		font-size:15px;
	}
}

.spotlight{
	margin-top:14%;
}

.home_about_1{
	background-image:url('orange_pin.png');
	height:250px;
	.row{
		padding-top:5%;
	}
	
	.group_icon{
		padding-top:57px;
	}
	.icon-group {
		font-size:100px;
		margin-top:30px;
	}
	.comment_icon{
		font-size:175px;
	}
	h2{
		color:white;
	}
	#learn_a_ton{
		margin-top:-16px;
	}
}



