/* mixins, variables, etc. */

$dark: #003354;
$base: #91BED4;
$light: #D9E8F5;
$lighter: #fff;
$highlight: #F26101;
$lgray: #ccc;
$llgray: #F8F8F8;
$dgray: #7A7979;
$i_link:#003354;


@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  
  background-image:url('light_wool.png');
  background-repeat:repeat;

}
  

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


.social-button{
  background-color:$lgray;
   height: 30px;
   -moz-border-radius:75px;
   -webkit-border-radius: 75px;
   width: 30px;
   img{
    padding-left:5px;
    padding-top:4px;
   }
}

.rounded{
 height: 60px;
 -moz-border-radius:75px;
 -webkit-border-radius: 75px;
 width: 60px;
 border-width:2px;
 border-color:white;
 border-style:solid;
}

.rounded-corners {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}

.top-rounded-corners {
  -webkit-border-top-left-radius: 8px;
  -khtml-border-radius-topleft: 8px; 
  -moz-border-radius-topleft: 8px;
  border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -khtml-border-radius-topright: 8px;  
  -moz-border-radius-topright: 8px;
  border-top-right-radius: 8px;
}

.bottom-rounded-corners {
  -webkit-border-bottom-left-radius: 8px;
  -khtml-border-radius-bottomleft: 8px; 
  -moz-border-radius-bottomleft: 8px;
  border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -khtml-border-radius-bottomright: 8px;  
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
}

.dashed{
  background-color:$llgray;
  border-top-color:$lgray;
  border-top-style:dashed;
  border-top-width:1px;
  border-bottom-color:$lgray;
  border-bottom-style:dashed;
  border-bottom-width:1px;
}

.centered{
  display:block;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}


.shadow {
   box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.29);
/* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  color:$dark;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: $base;
}

p, ul {
  font-size: 1.1em;
  line-height: 1.7em;
}

.navbar .nav ul li a{
  color:$base !important;
}

a{
  color:$base; 
}
a:hover{
    color:$base;
    text-decoration: none;
  }


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  text-transform: lowercase;
  letter-spacing: -1px;
  padding-top: 7px;
  font-weight: bold;
  line-height: 1;
  color:$dark;
  &:hover {
    text-decoration: none;
    color:$dark;
  }	
}

.logo-small {
padding-top: 6px;
padding-right: 4px;
}

.navbar-inner{
    background-image:none;
    background-color:white;
}

/* footer */

footer {
  background-image:url('footer-background.png');
  padding-top: 15%;
  border-top: 2px solid $base;
  border-bottom: 2px solid $base;
  /*min-height: 222px;*/
  color: $dark;
  a {
    color: $dgray;
    &:hover { 
      color: $dark;
    }
  }
  .footer_logo{
    margin-left:40px;
    #logo{
      color:white;
    }
  }
  nav{
    margin-left:40px;
    text-transform: lowercase;
    font-size: 1.3em;
    line-height: 1.9em;
    li{
      line-height: 21px;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    list-style: none;
    li {
      margin-left: 10px;
    }
  }
  img{
    float:right;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* startup index */
.startup_index_row{
  margin-bottom:30px;
  background-color:white;
}


.startup_index_picture{
  margin-left:0px;
}

.rounded-left-side{
  -moz-border-top-left-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  -khtml-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-bottom-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -khtml-border-bottom-left-radius: 8px;
  border-top-bottom-radius: 8px;
}


.su_index_descr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.startup_index_meta{
  width:85%;
  display:block;
  margin-left:auto;
  margin-right:auto;
  i{
    padding-right:7px;
    font-size:20px;
  }
  h3{
    display:inline;
  }
  img{
    max-height:100px;
    padding-top:7%;
  }
}

/* startup profile */

.su_title_bar{
    height:80px;
    padding-bottom:3%;
    clear:both;
  }
  .su_description{
     font-size: 14px;
    padding-top: 15px;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: $lgray;
    float: left;
    margin-top: 14px;
    padding-bottom: 15px;
    padding-left: 15px;
  }
  
  .su_logo_div{
    float: left;
    img{
      max-height:100px;
      padding:3%;
      padding-right:10%;
    }
  }
  .su_logo{
  padding-left:20px;
  padding-top:20px;
  padding-bottom:20px;
  max-width:150px%;
  max-height:50px;
}

.startup_profile{
  background-color:white;
 .su_meta{
  display:inline;
  text-align: center;
  padding-top:3%;
  h4{
    font-weight: normal;
    font-size: 1.5em;
    maring-top:3%;
  }
  .su_meta_icon{
    margin-top:5%;
    i{
      font-size:1.8em;
      color:$dgray;
    }
  }
  }
}

.disruptage_button{

  display:inline;
  border-style:solid;
  border-width:2px;
  border-color:white;
  background-color:$lgray;
  width:150px;
  height:30px;
  padding:10px;
  margin-right:10px;

  i{
    color:white;
    position: relative;
    font-size:1.5em;
    top:4px;
    margin-right: 1%;
  }
  a{
    color:white;
  }
  
}

.su_admin{

  margin-top:20px;
  background-color:$llgray;
  border-top-color:$lgray;
  border-top-style:dashed;
  border-top-width:1px;
  border-bottom-color:$lgray;
  border-bottom-style:dashed;
  border-bottom-width:1px;
  text-transform:lowercase;

  font-size:20px;
  height:50px;
  i{
    padding: 10px;
    margin-left:10px;

  }
  .su_admin_action{
  }

}

.add_discussion_box{
  background-color:$llgray;
  text-transform:lowercase;
  height:60px;
  margin-top:20px;
  margin-bottom:20px;
  .add_discussion{
    padding-top:19px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    h2{
      display:inline;
      margin-right:3%;
    }
  }
}

.startup-discussion{
  padding-bottom:5%;
  h3{
    font-weight:normal;
    padding-bottom:5px;
  }
}
.discussions{
  background-color:white;
  margin-top:4%;
  margin-bottom:4%;
}

.topic-icon{
  float:left;
  background-color: $lgray;
  height: 50px;
  width:50px;
  margin-left: 27px;
  margin-top: -7px;

  img{
    max-width:35px;
    max-height:35px;
    max-width: 35px;
    padding-left: 7px;
    padding-top: 7px;
  }

}



.discussion-vote-meta{
   .topic-icon{
    float:right;
    margin-left:0px;
    padding-left:0px;  
  }

  h6{
    float: left;
    display: inline;
    font-size: 1.5em;
    padding-left: 20%;
    color: $dark;
    padding-top: 6%;
    text-align: center;
  }

  i{
    float:left;
  }
  
}

.vote-arrows{
  font-size:1.5em;
  color:$dark;
  width:14px;
  float:left;
  padding-left:10%;
  }



/* discussion */

.discussion_title_box{
  padding-top:20px;
  border-top-style:dashed;
  border-top-width:1px;
  border-top-color:$lgray;
  border-bottom-style:dashed;
  border-bottom-width:1px;
  border-bottom-color:$lgray;
  padding-left:10px;
  background-color:#f8f8f8;
  min-height:100px;

  .topic-icon{
    margin-left:15px;
    margin-top:0px;
  }
}

.discussion_title{
  padding-left:3%;
  img{float:right;}
}


.social{
  display:inline;
  font-size:24px;
}

.share{
  margin-bottom:20px;
}

.share_circle{
  float:left;
  background-color:#ccc ;
  height: 30px;
  -moz-border-radius:75px;
  -webkit-border-radius: 75px;
  width: 30px;
  color: $lgray;
  border-style:solid;
  border-width:2px;
  border-color:white;
  display:inline;
}

.share_icon{
  float:left;
  margin-top: 7px;
  margin-left: 6px;
  font-size: 24px;

  text-align: center;
  text-shadow: 2px 2px;
  float: left;
  color: white;

}

.su_description{
  text-transform:lowercase;
}



.show_discussion{
  background-color:white;
  
  .container{
    margin-top:50px;
  }
}



.discussion_meta{
  margin-top:15px;
}




/* comments */

.discussion_comment_parent{
  padding-left:1%;
  padding-top:20px;
}

.add_comment{
  margin: 10px 0px 20px 20px;
}

.discussion_icon{
  background-color:#F8F8F8;
  border-top-style:dashed;
  border-top-width:1px;
  border-top-color:$lgray;
  border-bottom-style:dashed;
  border-bottom-width:1px;
  border-bottom-color:$lgray;
  height:25px;
  display: block;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  font-size:18px;
  margin:20px 0px 20px 0px;
  padding:15px;
  color:$base;

}

.comment {
  display: inline;
  padding-top:10px;
  padding-bottom:10px;

  border-bottom-style:dashed;
  border-bottom-width:1px;
  border-bottom-color:$lgray;
  h3{
    display:inline;
  }
  img{
    float:left;
  }
  .btn-mini{
    padding: 2px 6px !important;
    font-size: 11px !important;
    line-height: 12px !important;
  }
  .vote-arrows{
    font-size:1.3em;
    padding-right:1%;
    padding-left:1%;
    i{
      margin-bottom:-5px;
    }
  }
  .vote-count{
    text-align: right;
    float:left;
    font-size:1.5em;
    color:$dark;
    margin-right:2%;
  }
}

.comment_author{
  color:$dgray;
  color:$dgray;
  h3{
    padding-right:7px;
  }
}

.comment_text{
  color:$dgray;
  margin-left:1%;
}
.nested_comments {
  margin-left: 1%;
  padding-left:2%;
  padding-top:20px;
}

.comment_actions{
  margin-left:8%;
}

/* registration */
.registration{
  background-color:white;
  padding-bottom:20px;
  margin-bottom:-17px;
  h1{
    margin-left:160px;
    margin-top:20px;

  }
}
#user_avatar {
      padding-left: 5%;
      padding-bottom: 5%;
    }

.signup_actions{
  margin-left:180px;
  .btn-large{
    margin-bottom:20px;
    padding-left:30px;
    padding-right:30px;
  }
}

.signup_pic{
  margin-top:70px;
  margin-left:25px;
  max-width:70%;
}



/* users */
.users-index{
  background-color:white;
  h1{
    padding-left:20px;
    padding-top:20px;
  }
}

.user-profile{
  background-color:white;
    padding-top:1%;
    h1, h2, h3, h4{
      padding-left:1%;
      padding-top:2%;
    }
    img{
      padding-right:20px;
    }
    
  .edit-user-link{
    i{
      color:$dark;
    }
  }

  .user-discussion-links{
    margin-top:3%;
    .user-discussion-logo{
      max-width: 50%;
      max-height:50%;
      padding-left:4%;
    }
  }

  .user-title{
    margin-top:-4%;
    color:$base;
    font-weight:normal;
    margin-bottom:3%;
  }

  .user-discussions{
    border-top-style:dashed;
    border-top-width:1px;
    border-top-color:$lgray;
    margin-bottom:3%;
  }
}

.edit-profile{
  background-color:white;
  padding-left:3%;
  h1{
    margin-top: 3%;
    padding-left:8%;
  }
  input{
    width:95%;
  }
}



/* new discussion */

.new_discussion_form{
  background-color:white;
  padding-left:3%;
  h2{
    font-size:1.8em;
    padding-top:20px;
  }
  textarea{
    width: 85%
  }
}

#discussion_title{
  width:85%;
  height:55px;
}



/* new discussion */

#comment_text{
  width:75%;
  height:95px;
}

/* static pages */
.static-pages{
  background-color:white;
  padding-bottom:6%;
  min-height: 400px;
  h1{
    padding-top:2%;
    padding-left:2.5%;
  }
  
  .contact-page{
    p{
      margin-bottom:3%;
    }
  }
}

.suggest-page{
  h1, p, ul{
    padding-left:2.5%;
  }
}